@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Merriweather', serif;
	text-align: center;
}

.section {
	background-image:url("../images/agfposter.png");
	background-size: cover;
}

.header {
	font-size: 30px;
	margin: 100px;
	line-height: 40px;
}

.pageonecontainer {
	margin-right: auto;
	margin-left: 0;
	height: 40%;
	width: 80%;
	background-color: aliceblue;
	border-radius: 0 20px 20px 0;
	box-shadow: 0 0 30px 0 black;
	z-index: 3;
}

.weight {
	border-radius: 20px 0 0 20px;
}

.icon2 {
	margin-top: 15px;
}

.pageonecontainertwo {
	position: absolute;
	margin-right: 0;
	margin-left: 20%;
	margin-top: -10vh;
	height: 20%;
	width: 80%;
	border-radius: 20px 0 0 20px;
	box-shadow: 0 0 30px 0 black;
}


.question {
	padding-top: 15vh;
}

.slidecontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 5vh;

}


.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  box-shadow: 0 0 20px 0 aliceblue;
  border-radius: 50%;
  background: #1E90FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/*---------------forside---------------*/
.forside {
	background-color: white;
	position: absolute;
	background-image: url("../images/bg2.svg");
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 80vh;
	top: 0;
	left
}

.whitebox {
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:flex-end;
}

.whitebox img {
	height: 50px;
	padding: 5%;
}


.flexi {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	flex-direction: row;
align-items: center;
	flex-wrap: wrap;
		z-index: 102;
	width: 100vw;
	height: 40%;
	margin-top: 17vh;
}

.lilleknap {
	display: flex;
	width: 40vw;
	height: 20vh;
	background-color: white;
	box-shadow: 0 4px 6px 0 white;
	z-index: 105;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.storknap {
	display: flex;
	width: 80vw;
	height: 20vh;
	background-color: white;
	box-shadow: 0 4px 6px 0 white, 0 5px 5px 0 grey;
	z-index: 105;
	padding: 10px;
	border-radius: 20px 20px 20px 20px;
}
