@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Merriweather', serif;
	text-align: center;
}

.section {
	background-image:url("../images/agfposter.png");
	background-size: cover;
}

.demo {
  position: absolute;
  top: 700px;
  right: 50%;
}

#section1 a {
  padding-top: 80px;
}
#section1 a span {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 35px;
  height: 35px;
  margin-left: -12px;
  border-left: 11px solid #000;
  border-bottom: 11px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section1 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section1 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section1 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
	font-size: 30px;
	margin: 100px;
	line-height: 40px;
}

.pageonecontainer {
	margin-right: auto;
	margin-left: 0;
	height: 40%;
	width: 80%;
	background-color: aliceblue;
	border-radius: 0 20px 20px 0;
	box-shadow: 0 0 30px 0 black;
	z-index: 3;
}

.weight {
	border-radius: 20px 0 0 20px;
}

.icon2 {
	margin-top: 15px;
}

.pageonecontainertwo {
	position: absolute;
	margin-right: 0;
	margin-left: 20%;
	margin-top: -10vh;
	height: 20%;
	width: 80%;
	border-radius: 20px 0 0 20px;
	box-shadow: 0 0 30px 0 black;
}


.question {
	padding-top: 15vh;
}

.slidecontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 5vh;

}


.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  box-shadow: 0 0 20px 0 aliceblue;
  border-radius: 50%;
  background: #1E90FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/*---------------forside---------------*/
.forside {
	position: absolute;
	background-image: url("../images/frontpage.png");
	background-size: cover;
	height: 100vh;
	top: 0;
}

.whitebox {
	background-color: white;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	width: 100vw;
	height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
		box-shadow: 0 0 30px 0 black;
		border-radius: 20px 20px 0px 0px;
}

.whitebox img {
	height: 40px;
	padding: 20px;
}


.flexi {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	z-index: 102;
	width: 100%;
	height: 40%;
	margin-top: 17vh;
}

.lilleknap {
	display: flex;
	width: 40vw;
	height: 20vh;
	background-color: white;
	box-shadow: 0 0 30px 0 black;
	z-index: 105;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.storknap {
	display: flex;
	width: 80vw;
	height: 20vh;
	background-color: white;
	box-shadow: 0 0 30px 0 black;
	z-index: 105;
	padding: 10px;
	border-radius: 20px 20px 20px 20px;
}

/*---------------INSTAGRAM SIDEN-------------*/
.snapwidget-widget {
	margin-bottom: 11vh;
	margin-top: 1vh;
}

#skubned {
	  margin-top: 15.5vh;
		line-height: 2px;
}

/*----------logobanner-----------*/
#over {
	display: flex;
	justify-content: center;
}

#over img {
	height: 100px;
	position: fixed;
	z-index: 100;
	top: 2vh;
}

/*------------MENUBAR-------------*/
nav {
  display: flex;
  justify-content: center;
}

#menubar {
  z-index: 95;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 70px;
  background-color: #143b78;
  bottom: 0px;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

#menubar img {
  width: 45px;
	z-index: 95;
}

#redbuttom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 95;
  width: 70px;
  height: 70px;
  background-color: darkred;
  border-radius: 50%;
  bottom: 30px;
  border: 6px white solid;
}

#redbuttom img {
  width: 45px;
}
